<template>
<q-layout>
    <q-page-container>
        <q-page class="flex bg-image flex-center">
            <q-card v-bind:style="$q.screen.lt.sm?{'width': '80%'}:{'width':'30%'}" class="card">
                <q-card-section>
                    <q-avatar size="103px" class="absolute-center shadow-10">
                        <img src="profile-avatar.svg" class="profile">
                    </q-avatar>
                </q-card-section>
                <q-card-section>
                    <div class="text-center q-pt-lg">
                        <div class="col text-h6 ellipsis">
                            Log in
                        </div>
                    </div>
                </q-card-section>
                <q-card-section>
                    <q-form class="q-gutter-md">
                        <div class="flex flex-center">
                            <q-input class="q-pt-lg" type="email" v-model="login.email" label="Email" :rules="[val => !!val || 'Campo obligatorio']" />
                            <q-input class="q-pt-lg" type="password" v-model="login.password" label="Password" :rules="[val => !!val || 'Campo obligatorio']" />
                        </div>
                        <div class="text-center">
                            <q-btn rounded icon="arrow_right_alt" color="positive" type="button" @click="loginRequest" />
                        </div>
                    </q-form>
                </q-card-section>
            </q-card>
        </q-page>
    </q-page-container>
</q-layout>
</template>

<script>
import {
    mapGetters,
    mapActions
} from "vuex";
import {
    Notify,
    SessionStorage
} from 'quasar'
export default {
    data() {
        return {
            login: {
                email: null,
                password: null,
            },
        }
    },
    methods: {
        ...mapActions("auth", ["sendLoginRequest"]),
        loginRequest() {
            if (this.login.email != null || this.login.password != null) {
                let formData = new FormData();
                formData.append('correo', this.login.email);
                formData.append('password', this.login.password);
                this.sendLoginRequest(formData).then(() => {
                    if (sessionStorage.getItem("login_status") == 'Bienvenido') {
                        let user = sessionStorage.getItem("user_name")
                        this.$router.push({
                            path: "/auth/principal"
                        });
                        Notify.create({
                            type: 'positive',
                            message: 'Bienvenido ' + user
                        })
                    }
                });
            } else {
                Notify.create({
                    type: 'warning',
                    message: 'Hay campos vacios'
                })
            }

        }
    }
}
</script>

<style>
.bg-image {
    background-image: linear-gradient(135deg, #00bcd4 0%, #51EA8A 100%);
}

.profile {
    background-color: #00bcd4
}

.card {
    background: linear-gradient(150deg, #7028e4 0%, #FB779E 90%);
}
</style>
