<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="q-pa-md">
            <q-table :filter="filter" class="no-shadow" title="Citas" hide-header :data="getCitas" no-data-label="I didn't find anything for you" no-results-label="The filter didn't uncover any results" :columns="columns" row-key="__index">
                <template v-slot:body="props">
                    <div class="q-pa-lg">
                        <div class="column">
                            <div class="col">
                                <span class="text-weight-bolder">Folio</span>
                                <q-td key="folio" :props="props">
                                    {{ props.row.folio }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Nombre del cliente</span>
                                <q-td key="nombre" :props="props">
                                    {{ props.row.nombre }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Correo del cliente</span>
                                <q-td key="correo" :props="props">
                                    {{ props.row.correo }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Telefono del cliente</span>
                                <q-td key="tel" :props="props">
                                    {{ props.row.tel }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Fecha</span>
                                <q-td key="fecha" :props="props">
                                    {{ props.row.fecha }}
                                    <q-btn icon="event" round color="primary" @click="editDT(props.row)" />
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Servicio</span>
                                <q-td key="servicio" :props="props">
                                    {{ props.row.servicio }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Código</span>
                                <q-td key="code" :props="props">
                                    {{ props.row.code }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Estatus</span>
                                <q-td key="status" :props="props">
                                    <q-chip outline v-if="props.row.state=='draft'" text-color="white" color="orange">Pendiente</q-chip>
                                    <q-chip outline v-else-if="props.row.state=='paid'" text-color="white" color="positive">Confirmada</q-chip>
                                    <q-chip outline v-else text-color="white" color="negative">Cancelada</q-chip>
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Estado</span>
                                <q-td key="state" :props="props">
                                    <q-btn unelevated rounded v-if="props.row.state=='paid'" color="negative" @click="changeSt(props.row)">Cancelar</q-btn>
                                    <q-btn unelevated rounded v-else-if="props.row.state=='draft'" color="positive" @click="changeSt(props.row)">Aprovar</q-btn>
                                    <q-btn unelevated rounded v-else-if="props.row.state=='cancel'" color="positive" @click="changeSt(props.row)">Aprovar</q-btn>
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Acciones</span>
                                <q-td key="action" :props="props">
                                    <q-icon size="1.5em" color="warning" name="edit" @click="editItem(props.row)" />
                                    <q-icon size="1.5em" color="negative" name="delete" @click="deleteItem(props.row)" />
                                </q-td>
                                <q-separator color="cyan" size="3px" />
                            </div>
                        </div>
                    </div>
                </template>
                <template v-slot:top-right>
                    <q-input borderless debounce="300" v-model="filter" placeholder="Search">
                        <template v-slot:append>
                            <q-icon name="search" />
                        </template>
                    </q-input>
                </template>
                <template v-slot:no-data="{ icon, message, filter }">
                    <div class="full-width row flex-center text-accent q-gutter-sm">
                        <q-icon size="2em" name="sentiment_dissatisfied" />
                        <span>
                            Well this is sad... {{ message }}
                        </span>
                        <q-icon size="2em" :name="filter ? 'filter_b_and_w' : icon" />
                    </div>
                </template>
            </q-table>
            <q-dialog v-model="dialog">
                <q-card style="width: 600px; max-width: 80vw">
                    <q-card-section>
                        <div class="text-h6">Update Item</div>
                    </q-card-section>
                    <q-separator inset></q-separator>
                    <q-card-section class="q-pt-none">
                        <q-form class="q-gutter-md">
                            <q-list>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Nombre</q-item-label>
                                        <q-select filled v-model="editedItem.nombre" label="Clientes" emit-value map-options :options="clientes_cat" style="max-width: 265px">
                                            <template v-slot:no-option>
                                                <q-item>
                                                    <q-item-section class="text-grey">
                                                        No results
                                                    </q-item-section>
                                                </q-item>
                                            </template>
                                        </q-select>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Cambiar horario</q-item-label>
                                        <q-select filled v-model="editedItem.horario" label="Horarios" map-options :options="hora_cat" style="max-width: 265px">
                                            <template v-slot:no-option>
                                                <q-item>
                                                    <q-item-section class="text-grey">
                                                        No hay horarios disponibles
                                                    </q-item-section>
                                                </q-item>
                                            </template>
                                        </q-select>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Sevicio</q-item-label>
                                        <q-select filled v-model="editedItem.servicio" label="Servicios" emit-value map-options :options="servicios_cat" style="max-width: 265px">
                                            <template v-slot:no-option>
                                                <q-item>
                                                    <q-item-section class="text-grey">
                                                        No results
                                                    </q-item-section>
                                                </q-item>
                                            </template>
                                        </q-select>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Código</q-item-label>
                                        <q-select filled v-model="editedItem.codigo" label="Códigos" emit-value map-options :options="codigos_cat" style="max-width: 265px">
                                            <template v-slot:no-option>
                                                <q-item>
                                                    <q-item-section class="text-grey">
                                                        No results
                                                    </q-item-section>
                                                </q-item>
                                            </template>
                                        </q-select>
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </q-form>
                    </q-card-section>
                    <q-card-section>
                        <q-card-actions align="right">
                            <q-btn flat label="Cancel" color="negative" dense v-close-popup></q-btn>
                            <q-btn flat label="OK" color="primary" dense v-close-popup @click="save"></q-btn>
                        </q-card-actions>
                    </q-card-section>
                </q-card>
            </q-dialog>
            <q-dialog v-model="dialogAdd">
                <q-card style="width: 600px; max-width: 80vw">
                    <q-card-section>
                        <div class="text-h6">Agregar cita</div>
                    </q-card-section>
                    <q-separator inset></q-separator>
                    <q-card-section class="q-pt-none">
                        <q-form class="q-gutter-md">
                            <q-list>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Nombre</q-item-label>
                                        <q-select filled v-model="editedItem.nombre" label="Clientes" emit-value map-options :options="clientes_cat" style="max-width: 265px">
                                            <template v-slot:no-option>
                                                <q-item>
                                                    <q-item-section class="text-grey">
                                                        No results
                                                    </q-item-section>
                                                </q-item>
                                            </template>
                                        </q-select>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Horarios disponibles</q-item-label>
                                        <q-select filled v-model="editedItem.horario" label="Horarios" emit-value map-options :options="hora_cat" style="max-width: 265px">
                                            <template v-slot:no-option>
                                                <q-item>
                                                    <q-item-section class="text-grey">
                                                        No hay horarios disponibles
                                                    </q-item-section>
                                                </q-item>
                                            </template>
                                        </q-select>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Sevicios disponibles</q-item-label>
                                        <q-select filled v-model="editedItem.servicio" label="Servicios" emit-value map-options :options="servicios_cat" style="max-width: 265px">
                                            <template v-slot:no-option>
                                                <q-item>
                                                    <q-item-section class="text-grey">
                                                        No results
                                                    </q-item-section>
                                                </q-item>
                                            </template>
                                        </q-select>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Códigos disponibles</q-item-label>
                                        <q-select filled v-model="editedItem.codigo" label="Códigos" emit-value map-options :options="codigos_cat" style="max-width: 265px">
                                            <template v-slot:no-option>
                                                <q-item>
                                                    <q-item-section class="text-grey">
                                                        No results
                                                    </q-item-section>
                                                </q-item>
                                            </template>
                                        </q-select>
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </q-form>
                    </q-card-section>
                    <q-card-section>
                        <q-card-actions align="right">
                            <q-btn flat label="Cancel" color="negative" dense v-close-popup></q-btn>
                            <q-btn flat label="OK" color="primary" dense v-close-popup @click="addCita"></q-btn>
                        </q-card-actions>
                    </q-card-section>
                </q-card>
            </q-dialog>
            <q-dialog v-model="edt" persistent>
                <q-card>
                    <q-input filled v-model="editedItem.fecha">
                        <template v-slot:prepend>
                            <q-icon name="event" class="cursor-pointer">
                                <q-popup-proxy transition-show="scale" transition-hide="scale">
                                    <q-date v-model="editedItem.fecha" mask="YYYY-MM-DD HH:mm:ss">
                                        <div class="row items-center justify-end">
                                            <q-btn v-close-popup label="Close" color="primary" flat />
                                        </div>
                                    </q-date>
                                </q-popup-proxy>
                            </q-icon>
                        </template>

                        <template v-slot:append>
                            <q-icon name="access_time" class="cursor-pointer">
                                <q-popup-proxy transition-show="scale" transition-hide="scale">
                                    <q-time v-model="editedItem.fecha" mask="YYYY-MM-DD HH:mm:ss" format24h>
                                        <div class="row items-center justify-end">
                                            <q-btn v-close-popup label="Close" color="primary" flat />
                                        </div>
                                    </q-time>
                                </q-popup-proxy>
                            </q-icon>
                        </template>
                    </q-input>
                    <q-card-actions align="right">
                        <q-btn label="Save" color="primary" flat @click="saveFecha" />
                        <q-btn label="Cancel" color="negative" flat @click="edt = false" />
                    </q-card-actions>
                </q-card>
            </q-dialog>
            <q-page-sticky position="bottom-right" :offset="[16, 50]">
                <q-fab icon="keyboard_arrow_up" glossy direction="up" color="accent">
                    <q-fab-action @click="add" color="positive" icon="more_time" />
                </q-fab>
            </q-page-sticky>
        </div>
    </div>
</div>
</template>

<script>
import {
    mapState,
    mapGetters,
    mapActions
} from "vuex";
import {
    ref
} from 'vue';
import {
    Notify
} from 'quasar';
import storeCitas from 'src/store/citas/index';
import storeCodes from 'src/store/codigos/index';
import storeHorarios from 'src/store/horarios/index';
import storeClientes from 'src/store/clientes/index';
import storeServicios from 'src/store/servicios/index';
export default {
    data() {
        return {
            edt: false,
            mode: "list",
            filter: "",
            citas: [],
            codes: [],
            horDis: [],
            clientes: [],
            servicios: [],
            hora_cat: [],
            clientes_cat: [],
            servicios_cat: [],
            codigos_cat: [],
            dialog: false,
            dialogAdd: false,
            states: [{
                    label: 'Pendiente',
                    value: 'draft'
                },
                {
                    label: 'Aprovada',
                    value: 'paid'
                },
                {
                    label: 'Cancelada',
                    value: 'cancel'

                }
            ],
            columns: [{
                    name: "action",
                    align: "center",
                    label: "Action",
                    field: row => row.action,
                    required: true,
                },
                {
                    name: 'folio',
                    align: 'center',
                    label: 'Folio',
                    field: 'folio',
                    sortable: true
                }, {
                    name: 'nombre',
                    align: 'center',
                    label: 'Nombre',
                    field: 'nombre',
                    sortable: true
                }, {
                    name: 'correo',
                    align: 'center',
                    label: 'Correo',
                    field: 'correo',
                    sortable: true
                }, {
                    name: 'tel',
                    align: 'center',
                    label: 'Telefono',
                    field: 'tel',
                    sortable: true
                }, {
                    name: 'fecha',
                    align: 'center',
                    label: 'Fecha',
                    field: 'fecha',
                    sortable: true
                }, {
                    name: 'servicio',
                    align: 'center',
                    label: 'Servicio',
                    field: 'servicio',
                    sortable: true
                }, {
                    name: 'code',
                    align: 'center',
                    label: 'Código de descuento',
                    field: 'code',
                    sortable: true
                }, {
                    name: 'state',
                    align: 'center',
                    label: 'Estado',
                    field: 'state',
                    sortable: true
                }, {
                    name: 'status',
                    align: 'center',
                    label: 'Estatus',
                    field: 'status',
                    sortable: true
                },

            ],
            editedItem: {
                nombre: "",
                correo: "",
                tel: "",
                fecha: "",
                state: "",
                status: "",
                horario: "",
                fechaD: "",
                cliente: "",
                horInfo: "",
                cliente_id: "",
                horario_id: "",
                hora: "",
                servicio: "",
                codigo: "",
            },
        }
    },
    mounted() {
        this.fetchCitas()
        this.fetchCodigos()
        this.fetchHorDisp()
        this.fetchClientes()
        this.fetchServicios()
    },
    watch: {
        dialog(val) {
            val
        },
        dialogAdd(val) {
            val
        }
    },
    computed: {
        getCitas() {
            return this.$store.getters['citas/getterCitas']
        },
        getCodes() {
            return this.$store.getters['codigos/getterCodigos']
        },
        getHorarios() {
            return this.$store.getters['horarios/getterHorariosDisponibles']
        },
        getClientes() {
            return this.$store.getters['clientes/getterClientes']
        },
        getServicios() {
            return this.$store.getters['servicios/getterServicios']
        },
    },
    methods: {
        ...mapActions("citas", ["editCitas", "deleteCita", "postCitas", "changeState"]),
        ...mapActions("horarios", ["updateFecha"]),
        fetchCitas() {
            this.$store.dispatch('citas/fetchCitas')
            this.citas = storeCitas.state.citas
        },
        fetchCodigos() {
            this.$store.dispatch('codigos/fetchCodigos')
            this.codes = storeCodes.state.codigos.forEach(this.set_codigos)
        },
        fetchHorDisp() {
            this.$store.dispatch('horarios/fetchHorDisp')
            this.horDis = storeHorarios.state.horariosDis.forEach(this.set_horarios)
        },
        fetchClientes() {
            this.$store.dispatch('clientes/fetchClientes')
            this.clientes = storeClientes.state.clientes.forEach(this.set_clientes)
        },
        fetchServicios() {
            this.$store.dispatch('servicios/fetchServicios')
            this.servicios = storeServicios.state.servicios.forEach(this.set_servicios)
        },
        add() {
            this.dialogAdd = true
        },
        set_horarios(element) {
            this.hora_cat.push({
                value: element.id,
                label: String(
                    element.fecha +
                    ", " +
                    element.calle +
                    ", " +
                    element.colonia +
                    ", " +
                    element.ciudad +
                    ", " +
                    element.estado
                )
            });
        },
        set_clientes(element) {
            this.clientes_cat.push({
                value: element.id,
                label: String(element.nombre)
            });
        },
        set_servicios(element) {
            this.servicios_cat.push({
                value: element.id,
                label: String(element.nombre + " " + element.tipo)
            });
        },
        set_codigos(element) {
            this.codigos_cat.push({
                value: element.id,
                label: String(element.code)
            });
        },
        changeSt(item) {
            var sta = ''
            if (item.state == 'draft') {
                sta = 'paid'
            }
            if (item.state == 'paid') {
                sta = 'cancel'
            }
            if (item.state == 'cancel') {
                sta = 'paid'
            }
            let formData = new FormData();
            formData.append("id", item.id);
            formData.append("state", sta);
            this.changeState(formData)
                .then(() => {
                    this.fetchCitas();
                    Notify.create({
                        type: 'positive',
                        message: 'Modificación exitosa'
                    })
                })
                .catch((error) => {
                    Notify.create({
                        type: 'negative',
                        message: 'Error al modificar'
                    })
                    console.log(error);
                })
        },
        editItem(item) {
            this.editedItem.id = item.id;
            this.editedItem.fecha = item.fecha;
            this.editedItem.nombre = item.cliente_id;
            this.editedItem.correo = item.correo;
            this.editedItem.tel = item.tel;
            this.editedItem.servicio = item.servicio_id;
            this.editedItem.codigo = item.codigo_id;
            this.editedItem.state = item.state;
            this.editedItem.horario = item.horario_id;
            this.editedItem.horario_id = item.horario_id;
            this.dialog = true
        },
        editDT(item) {
            this.editedItem.id = item.id;
            this.editedItem.fecha = item.fecha;
            this.editedItem.horario_id = item.horario_id;
            this.edt = true
        },
        deleteItem(item) {
            let formData = new FormData();
            formData.append('id', item.id);
            formData.append('horario_id', item.horario_id);
            this.deleteCita(formData)
                .then(() => {
                    this.fetchCitas();
                })
                .catch((error) => {
                    console.log(error);
                })
        },
        saveFecha() {
            if (this.editedItem.fecha.length != 19) {
                Notify.create({
                    type: 'warning',
                    message: 'Formato inválido'
                })
            } else {
                try {
                    const fecha = new Date(this.editedItem.fecha).toISOString().slice(0, 10);
                    const hora = new Date(this.editedItem.fecha).toLocaleTimeString();
                    const fecha_F = fecha + " " + hora;
                    let formData = new FormData();
                    formData.append("id", this.editedItem.horario_id);
                    formData.append("fecha", fecha_F);
                    this.updateFecha(formData)
                        .then(() => {
                            this.edt = false
                            this.fetchCitas();
                            Notify.create({
                                type: 'positive',
                                message: 'Modificación exitosa'
                            })
                        })
                        .catch((error) => {
                            this.edt = false
                            Notify.create({
                                type: 'negative',
                                message: 'Error al modificar'
                            })
                            console.log(error);
                        })
                } catch (error) {
                    console.log(error)
                    Notify.create({
                        type: 'warning',
                        message: 'Formato inválido'
                    })
                }
            }
        },
        save() {
            let formData = new FormData();
            formData.append("id", this.editedItem.id);
            formData.append("horario_act", this.editedItem.horario_id);
            if (typeof this.editedItem.cliente == 'object') {
                formData.append("cliente_id", this.editedItem.nombre.id);
            } else {
                formData.append("cliente_id", this.editedItem.nombre);
            }
            if (typeof this.editedItem.fechaD == 'object') {
                formData.append("horario_id", this.editedItem.horario.id);
            } else {
                formData.append("horario_id", this.editedItem.horario);
            }
            if (typeof this.editedItem.servicio == 'object') {
                formData.append("servicio_id", this.editedItem.servicio.id);
            } else {
                formData.append("servicio_id", this.editedItem.servicio);
            }
            if (typeof this.editedItem.codigo == 'object') {
                if (this.editedItem.codigo == null) {
                    formData.append("codigo_id", null);
                } else {
                    formData.append("codigo_id", this.editedItem.codigo.id);
                }
            } else {
                formData.append("codigo_id", this.editedItem.codigo);
            }
            this.editCitas(formData)
                .then(() => {
                    this.fetchCitas()
                    Notify.create({
                        type: 'positive',
                        message: 'Modificación exitosa'
                    })
                })
                .catch((error) => {
                    Notify.create({
                        type: 'negative',
                        message: 'Error al modificar'
                    })
                    console.log(error)
                })
        },
        addCita() {
            let formData = new FormData();
            formData.append("horario_id", this.editedItem.horario);
            formData.append("cliente_id", this.editedItem.nombre);
            formData.append("servicio_id", this.editedItem.servicio);
            formData.append("codigo_id", this.editedItem.codigo);
            this.postCitas(formData)
                .then(() => {
                    this.fetchCitas()
                    Notify.create({
                        type: 'positive',
                        message: 'Cita agregada exitosamente'
                    })
                })
                .catch((error) => {
                    Notify.create({
                        type: 'negative',
                        message: 'Error al agregar'
                    })
                    console.log(error)
                })
        }

    }
}
</script>
