<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="q-pa-md">
            <q-table title="Clientes" :filter="filter" class="no-shadow" hide-header :data="getClientes" :columns="columns" row-key="_index" no-data-label="I didn't find anything for you" no-results-label="The filter didn't uncover any results">
                <template v-slot:top-right>
                    <q-input borderless debounce="300" v-model="filter" placeholder="Search">
                        <template v-slot:append>
                            <q-icon name="search" />
                        </template>
                    </q-input>
                </template>
                <template v-slot:no-data="{ icon, message, filter }">
                    <div class="full-width row flex-center text-accent q-gutter-sm">
                        <q-icon size="2em" name="sentiment_dissatisfied" />
                        <span>
                            Well this is sad... {{ message }}
                        </span>
                        <q-icon size="2em" :name="filter ? 'filter_b_and_w' : icon" />
                    </div>
                </template>
                <template v-slot:body="props">
                    <div class="q-pa-lg">
                        <div class="column">
                            <div class="col">
                                <span class="text-weight-bolder">Nombre del cliente</span>
                                <q-td key="nombre" :props="props">
                                    {{ props.row.nombre }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Correo</span>
                                <q-td key="correo" :props="props">
                                    {{ props.row.correo }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Telefono</span>
                                <q-td key="tel" :props="props">
                                    {{ props.row.tel }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Estado</span>
                                <q-td key="state" :props="props">
                                    <q-chip outline v-if="props.row.state=='open'" text-color="white" color="positive">Activo</q-chip>
                                    <q-chip outline v-else text-color="white" color="negative">Inactivo</q-chip>
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Acciones</span>
                                <q-td key="actions" :props="props">
                                    <q-icon size="1.5em" color="warning" name="edit" @click="act = 'Update',editItem(props.row)" />
                                    <q-icon size="1.5em" color="negative" name="delete" @click="deleteItem(props.row)" />
                                </q-td>
                                <q-separator color="cyan" size="3px" />
                            </div>
                        </div>
                    </div>
                </template>
            </q-table>
            <q-dialog v-model="dialog">
                <q-card style="width: 600px; max-width: 80vw">
                    <q-card-section>
                        <div class="text-h6">{{ act }} Item</div>
                    </q-card-section>
                    <q-separator inset></q-separator>
                    <q-card-section class="q-pt-none">
                        <q-form class="q-gutter-md">
                            <q-list>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Nombre</q-item-label>
                                        <q-input type="text" v-model="editedItem.nombre"></q-input>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Correo</q-item-label>
                                        <q-input type="email" v-model="editedItem.correo"></q-input>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Telefono</q-item-label>
                                        <q-input type="number" v-model="editedItem.tel"></q-input>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-select v-model="editedItem.state" label="Estado" map-options :options="items" style="max-width: 265px">
                                            <template v-slot:no-option>
                                                <q-item>
                                                    <q-item-section class="text-grey">
                                                        No hay horarios disponibles
                                                    </q-item-section>
                                                </q-item>
                                            </template>
                                        </q-select>
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </q-form>
                    </q-card-section>
                    <q-card-section>
                        <q-card-actions align="right">
                            <q-btn flat label="Cancel" color="negative" dense v-close-popup></q-btn>
                            <q-btn v-if="act == 'Update'" flat label="Update" color="positive" dense v-close-popup @click="save"></q-btn>
                            <q-btn v-else flat label="Add" color="positive" dense v-close-popup @click="addCliente"></q-btn>
                        </q-card-actions>
                    </q-card-section>
                </q-card>
            </q-dialog>
            <q-page-sticky position="bottom-right" :offset="[16, 50]">
                <q-fab icon="keyboard_arrow_up" glossy direction="up" color="accent">
                    <q-fab-action @click="act = 'Add',add()" color="positive" icon="person_add" />
                </q-fab>
            </q-page-sticky>
        </div>
    </div>
</div>
</template>

<script>
import {
    mapState,
    mapActions,
    mapGetters
} from "vuex";
import {
    Notify
} from 'quasar'
import store from 'src/store/clientes/index';
import api from '../config'
export default {
    data() {
        return {
            act: '',
            dialog: false,
            filter: '',
            items: [{
                    label: 'Activo',
                    value: 'open'
                },
                {
                    label: 'Inactivo',
                    value: 'close'
                }
            ],
            columns: [{
                    name: 'id',
                    required: true,
                    label: 'ID',
                    align: 'left',
                    field: row => row.id,
                    format: val => `${val}`,
                    sortable: true
                },
                {
                    name: 'nombre',
                    align: 'right',
                    label: 'Nombre',
                    field: 'nombre',
                    sortable: true
                },
                {
                    name: 'correo',
                    label: 'Correo',
                    align: 'right',
                    field: 'correo',
                    sortable: true,
                },
                {
                    name: 'tel',
                    label: 'Telefono',
                    align: 'right',
                    field: 'tel'
                },
                {
                    name: 'state',
                    label: 'Estado',
                    align: 'right',
                    field: 'state'
                },
                {
                    name: 'actions',
                    label: 'Opciones',
                    align: 'right',
                    field: 'actions'
                },
            ],
            editedItem: {
                id: '',
                nombre: '',
                correo: '',
                tel: '',
                state: ''
            }
        }
    },

    mounted() {
        this.fetchClientes()
    },
    computed: {
        getClientes() {
            return this.$store.getters['clientes/getterClientes']
        },
    },
    methods: {
        ...mapActions("clientes", ["postClientes", "editClientes", "deleteCliente"]),
        fetchClientes() {
            this.$store.dispatch('clientes/fetchClientes')
            this.clientes = store.state.clientes
        },
        add() {
            this.editedItem.nombre = ''
            this.editedItem.correo = ''
            this.editedItem.tel = ''
            this.editedItem.state = ''
            this.dialog = true
        },
        editItem(item) {
            this.editedItem.id = item.id
            this.editedItem.nombre = item.nombre
            this.editedItem.correo = item.correo
            this.editedItem.tel = item.tel
            this.editedItem.state = item.state
            this.dialog = true
        },
        deleteItem(item) {
            let formData = new FormData();
            formData.append('id', item.id);
            this.deleteCliente(formData)
                .then(() => {
                    this.fetchClientes();
                })
                .catch((error) => {
                    console.log(error);
                })
        },
        save() {
            let formData = new FormData();
            formData.append("id", this.editedItem.id)
            formData.append("nombre", this.editedItem.nombre);
            formData.append("correo", this.editedItem.correo);
            formData.append("tel", this.editedItem.tel);
            if (typeof this.editedItem.state == 'object') {
                formData.append("state", this.editedItem.state.value);
            } else {
                formData.append("state", this.editedItem.state);
            }
            this.editClientes(formData)
                .then(() => {
                    this.fetchClientes()
                    Notify.create({
                        type: 'positive',
                        message: 'Modificación exitosa'
                    })
                })
                .catch((error) => {
                    Notify.create({
                        type: 'negative',
                        message: 'Error al modificar'
                    })
                    console.log(error)
                })
        },
        addCliente() {
            let formData = new FormData();
            formData.append("nombre", this.editedItem.nombre);
            formData.append("correo", this.editedItem.correo);
            formData.append("tel", this.editedItem.tel);
            formData.append("state", this.editedItem.state);
            this.postClientes(formData)
                .then(() => {
                    this.fetchClientes()
                    Notify.create({
                        type: 'positive',
                        message: 'Cliente agregado exitosamente'
                    })
                })
                .catch((error) => {
                    Notify.create({
                        type: 'negative',
                        message: 'Error al agregar'
                    })
                    console.log(error)
                })
        }
    }
}
</script>
