<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="q-pa-md">
            <q-table title="Códigos" hide-header :filter="filter" class="no-shadow" :data="getCodigos" :columns="columns"
             row-key="_index" no-data-label="I didn't find anything for you" no-results-label="The filter didn't uncover any results">
                <template v-slot:top-right>
                    <q-input borderless debounce="300" v-model="filter" placeholder="Search">
                        <template v-slot:append>
                            <q-icon name="search" />
                        </template>
                    </q-input>
                </template>
                <template v-slot:no-data="{ icon, message, filter }">
                    <div class="full-width row flex-center text-accent q-gutter-sm">
                        <q-icon size="2em" name="sentiment_dissatisfied" />
                        <span>
                            Well this is sad... {{ message }}
                        </span>
                        <q-icon size="2em" :name="filter ? 'filter_b_and_w' : icon" />
                    </div>
                </template>
                <template v-slot:body="props">
                    <div class="q-pa-lg">
                        <div class="column">
                            <div class="col">
                                <span class="text-weight-bolder">Código</span>
                                <q-td key="code" :props="props">
                                    {{ props.row.code }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Descuento</span>
                                <q-td key="descuento" :props="props">
                                    {{ props.row.descuento }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Fecha de Vencimiento</span>
                                <q-td key="fecha_termino" :props="props">
                                    {{ props.row.fecha_termino }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Estado</span>
                                <q-td key="state" :props="props">
                                    {{ props.row.state }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Estado</span>
                                <q-td key="state" :props="props">
                                    <q-chip outline v-if="props.row.state=='open'" text-color="white" color="positive">Activo</q-chip>
                                    <q-chip outline v-else text-color="white" color="negative">Inactivo</q-chip>
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Acciones</span>
                                <q-td key="actions" :props="props">
                                    <q-icon size="1.5em" color="warning" name="edit" @click="act = 'Update',editItem(props.row)" />
                                    <q-icon size="1.5em" color="negative" name="delete" @click="deleteItem(props.row)" />
                                </q-td>
                                <q-separator color="cyan" size="3px" />
                            </div>
                        </div>
                    </div>
                </template>
            </q-table>
            <q-dialog v-model="dialog">
                <q-card style="width: 600px; max-width: 80vw">
                    <q-card-section>
                        <div class="text-h6">{{ act }} Item</div>
                    </q-card-section>
                    <q-separator inset></q-separator>
                    <q-card-section class="q-pt-none">
                        <q-form class="q-gutter-md">
                            <q-list>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Código</q-item-label>
                                        <q-input type="text" v-model="editedItem.code"></q-input>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Descuento</q-item-label>
                                        <q-input type="text" v-model="editedItem.descuento"></q-input>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Fecha de Vencimiento</q-item-label>
                                        <q-input v-model="editedItem.fecha_termino">
                                            <template v-slot:prepend>
                                                <q-icon name="event" class="cursor-pointer">
                                                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                                                        <q-date v-model="editedItem.fecha_termino" mask="YYYY-MM-DD HH:mm:ss">
                                                            <div class="row items-center justify-end">
                                                                <q-btn v-close-popup label="Close" color="primary" flat />
                                                            </div>
                                                        </q-date>
                                                    </q-popup-proxy>
                                                </q-icon>
                                            </template>
                                            <template v-slot:append>
                                                <q-icon name="access_time" class="cursor-pointer">
                                                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                                                        <q-time v-model="editedItem.fecha_termino" mask="YYYY-MM-DD HH:mm:ss" format24h>
                                                            <div class="row items-center justify-end">
                                                                <q-btn v-close-popup label="Close" color="primary" flat />
                                                            </div>
                                                        </q-time>
                                                    </q-popup-proxy>
                                                </q-icon>
                                            </template>
                                        </q-input>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-select filled="" v-model="editedItem.state" label="Estado" :options="items" style="max-width: 265px">
                                            <template v-slot:no-option>
                                                <q-item>
                                                    <q-item-section class="text-grey">
                                                        No hay horarios disponibles
                                                    </q-item-section>
                                                </q-item>
                                            </template>
                                        </q-select>
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </q-form>
                    </q-card-section>
                    <q-card-section>
                        <q-card-actions align="right">
                            <q-btn flat label="Cancel" color="negative" dense v-close-popup></q-btn>
                            <q-btn v-if="act == 'Update'" flat label="Update" color="positive" dense v-close-popup @click="save"></q-btn>
                            <q-btn v-else flat label="Add" color="positive" dense v-close-popup @click="addCliente"></q-btn>
                        </q-card-actions>
                    </q-card-section>
                </q-card>
            </q-dialog>
            <q-page-sticky position="bottom-right" :offset="[16, 50]">
                <q-fab icon="keyboard_arrow_up" glossy direction="up" color="accent">
                    <q-fab-action @click="act = 'Add',add()" color="positive" icon="playlist_add" />
                </q-fab>
            </q-page-sticky>
        </div>
    </div>
</div>
</template>

<script>
import {
    mapState,
    mapActions,
    mapGetters
} from "vuex";
import {
    Notify
} from 'quasar'
import store from 'src/store/codigos/index';
import storeClientes from 'src/store/clientes/index';
import api from '../config'
export default {
    data() {
        return {
            act: '',
            dialog: false,
            filter: '',
            items: [{
                    label: 'Disponible',
                    value: 'draft'
                },
                {
                    label: 'Asignado',
                    value: 'paid'
                },
                {
                    label: 'Vencido',
                    value: 'cancel'
                },
            ],
            columns: [{
                    name: 'id',
                    required: true,
                    label: 'ID',
                    align: 'left',
                    field: row => row.id,
                    format: val => `${val}`,
                    sortable: true
                },
                {
                    name: 'code',
                    align: 'center',
                    label: 'Código',
                    field: 'code',
                    sortable: true
                },
                {
                    name: 'descuento',
                    label: 'Descuento',
                    field: 'descuento',
                    sortable: true,
                },
                {
                    name: 'fecha_termino',
                    label: 'Fecha de vencimiento',
                    field: 'fecha_termino'
                },
                {
                    name: 'state',
                    label: 'Estatus',
                    field: 'state'
                },
                {
                    name: 'actions',
                    label: 'Opciones',
                    field: 'actions'
                }
            ],
            editedItem: {
                id: '',
                nombre: '',
                code: "",
                descuento: "",
                state: "",
                cliente_id: "",
                cliente: "",
                fecha_termino: "",
                fecha: "",
                hora: ""
            },
        }
    },

    mounted() {
        this.fetchCodigos()
    },
    created() {
        this.fetchCodigos()
    },
    computed: {
        getCodigos() {
            return this.$store.getters['codigos/getterCodigos']
        },
        getClientes() {
            return this.$store.getters['clientes/getterClientes']
        },
    },
    methods: {
        ...mapActions("codigos", ["postCodigos", "editCodigos", "deleteCodigo"]),
        fetchCodigos() {
            this.$store.dispatch('codigos/fetchCodigos')
            this.codigos = store.state.codigos
        },
        fetchClientes() {
            this.$store.dispatch('clientes/fetchClientes')
            this.clientes = storeVlientes.state.clientes
        },
        add() {
            this.editedItem.id = ''
            this.editedItem.nombre = ''
            this.editedItem.code = ''
            this.editedItem.descuento = ''
            this.editedItem.cliente_id = ''
            this.editedItem.cliente = ''
            this.editedItem.fecha_termino = ''
            this.editedItem.fecha = ''
            this.editedItem.state = ''
            this.dialog = true
        },
        editItem(item) {
            this.editedItem.id = item.id
            this.editedItem.nombre = item.nombre
            this.editedItem.code = item.code
            this.editedItem.descuento = item.descuento
            this.editedItem.cliente_id = item.cliente_id
            this.editedItem.cliente = item.cliente
            this.editedItem.fecha_termino = item.fecha_termino
            this.editedItem.fecha = item.fecha
            this.editedItem.state = item.state
            this.dialog = true
        },
        deleteItem(item) {
            let formData = new FormData();
            formData.append('id', item.id);
            this.deleteCodigo(formData)
                .then(() => {
                    this.fetchCodigos();
                })
                .catch((error) => {
                    console.log(error);
                })
        },
        save() {
            let formData = new FormData();
            formData.append("id", this.editedItem.id)
            formData.append('code', this.editedItem.code)
            formData.append('descuento', this.editedItem.descuento)
            formData.append('fecha_termino', this.editedItem.fecha_termino)
            if (typeof this.editedItem.state == 'object') {
                formData.append('state', this.editedItem.state.value)
            } else {
                formData.append('state', this.editedItem.state)
            }
            if (typeof this.editedItem.cliente == 'object') {
                formData.append("cliente_id", this.editedItem.cliente.value);
            } else {
                formData.append("cliente_id", this.editedItem.cliente);
            }
            this.editCodigos(formData)
                .then(() => {
                    this.fetchCodigos()
                    Notify.create({
                        type: 'positive',
                        message: 'Modificación exitosa'
                    })
                })
                .catch((error) => {
                    Notify.create({
                        type: 'negative',
                        message: 'Error al modificar'
                    })
                    console.log(error)
                })
        },
        addCliente() {
            let formData = new FormData();
            formData.append('code', this.editedItem.code)
            formData.append('descuento', this.editedItem.descuento)
            formData.append('fecha_termino', this.editedItem.fecha_termino)
            formData.append('state', this.editedItem.state.value)
            formData.append('cliente_id', this.editedItem.cliente.value)
            this.postCodigos(formData)
                .then((res) => {
                    this.fetchCodigos()
                    Notify.create({
                        type: 'positive',
                        message: 'Código agregado exitosamente'
                    })

                })
                .catch((error) => {
                    Notify.create({
                        type: 'negative',
                        message: 'Error al agregar'
                    })
                    console.log(error)
                })
        }
    }
}
</script>
