<template>
<div v-if="!isOnLine">
    <transition appear enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutDown">
        <q-banner dense class="text-white bg-red">
            <template v-slot:avatar>
                <q-icon name="signal_wifi_off" color="primary" />
            </template>
            Se ha perdido la conexión a internet. La aplicación continuará en modo offline.
            <template v-slot:action>
                <q-btn flat color="white" label="Seguir" />
            </template>
        </q-banner>
    </transition>
</div>
</template>

<script>
import {
    mapState
} from 'vuex'
export default {
    name: 'conectividad',
    computed: {
        ...mapState("conectividad", ["isOnLine"])
    },
    methods: {
      close(){
        window.close()
      }
    }
}
</script>
