<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="q-pa-md">
            <q-table :filter="filter" title="Horarios" class="no-shadow" :data="getHorarios" :columns="columns" hide-header row-key="_index" no-data-label="I didn't find anything for you" no-results-label="The filter didn't uncover any results">
                <template v-slot:top-right>
                    <q-input borderless debounce="300" v-model="filter" placeholder="Search">
                        <template v-slot:append>
                            <q-icon name="search" />
                        </template>
                    </q-input>
                </template>
                <template v-slot:no-data="{ icon, message, filter }">
                    <div class="full-width row flex-center text-accent q-gutter-sm">
                        <q-icon size="2em" name="sentiment_dissatisfied" />
                        <span>
                            Well this is sad... {{ message }}
                        </span>
                        <q-icon size="2em" :name="filter ? 'filter_b_and_w' : icon" />
                    </div>
                </template>
                <template v-slot:body="props">
                    <div class="q-pa-lg">
                        <div class="column">
                            <div class="col">
                                <span class="text-weight-bolder">Fecha</span>
                                <q-td key="fecha" :props="props">
                                    {{ new Date(props.row.fecha).toLocaleDateString() }} a las {{ new Date(props.row.fecha).toLocaleTimeString() }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Estado</span>
                                <q-td key="state" :props="props">
                                    {{ props.row.state }}
                                </q-td>
                            </div>
                            <div class="col">
                                <span class="text-weight-bolder">Acciones</span>
                                <q-td key="actions" :props="props">
                                    <q-icon size="1.5em" color="warning" name="edit" @click="act = 'Update',editItem(props.row)" />
                                    <q-icon size="1.5em" color="negative" name="delete" @click="deleteItem(props.row)" />
                                </q-td>
                                <q-separator color="cyan" size="3px" />
                            </div>
                        </div>
                    </div>
                </template>
            </q-table>
            <q-dialog v-model="dialog">
                <q-card style="width: 600px; max-width: 80vw">
                    <q-card-section>
                        <div class="text-h6">{{ act }} Item</div>
                    </q-card-section>
                    <q-separator inset></q-separator>
                    <q-card-section class="q-pt-none">
                        <q-form class="q-gutter-md">
                            <q-list>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Código</q-item-label>
                                        <q-input type="text" v-model="editedItem.code"></q-input>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Descuento</q-item-label>
                                        <q-input type="text" v-model="editedItem.descuento"></q-input>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-item-label class="q-pb-xs">Fecha</q-item-label>
                                        <q-input v-model="editedItem.fecha">
                                            <template v-slot:prepend>
                                                <q-icon name="event" class="cursor-pointer">
                                                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                                                        <q-date v-model="editedItem.fecha" mask="YYYY-MM-DD HH:mm:ss">
                                                            <div class="row items-center justify-end">
                                                                <q-btn v-close-popup label="Close" color="primary" flat />
                                                            </div>
                                                        </q-date>
                                                    </q-popup-proxy>
                                                </q-icon>
                                            </template>
                                            <template v-slot:append>
                                                <q-icon name="access_time" class="cursor-pointer">
                                                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                                                        <q-time v-model="editedItem.fecha" mask="YYYY-MM-DD HH:mm:ss" format24h>
                                                            <div class="row items-center justify-end">
                                                                <q-btn v-close-popup label="Close" color="primary" flat />
                                                            </div>
                                                        </q-time>
                                                    </q-popup-proxy>
                                                </q-icon>
                                            </template>
                                        </q-input>
                                    </q-item-section>
                                </q-item>
                                <q-item>
                                    <q-item-section>
                                        <q-select filled="" v-model="editedItem.ubicacion" label="Ubicación" :options="ubis_cat" style="max-width: 265px">
                                            <template v-slot:no-option>
                                                <q-item>
                                                    <q-item-section class="text-grey">
                                                        No hay ubicaciones disponibles
                                                    </q-item-section>
                                                </q-item>
                                            </template>
                                        </q-select>
                                    </q-item-section>
                                </q-item>
                            </q-list>
                        </q-form>
                    </q-card-section>
                    <q-card-section>
                        <q-card-actions align="right">
                            <q-btn flat label="Cancel" color="negative" dense v-close-popup></q-btn>
                            <!-- <q-btn v-if="act == 'Update'" flat label="Update" color="positive" dense v-close-popup @click="save"></q-btn>
                            <q-btn v-else flat label="Add" color="positive" dense v-close-popup @click="addCliente"></q-btn> -->
                        </q-card-actions>
                    </q-card-section>
                </q-card>
            </q-dialog>
        </div>
    </div>
</div>
</template>

<script>
import {
    mapState
} from "vuex";
import {
    mapGetters
} from "vuex";
import store from 'src/store/horarios/index';
import storeUbis from 'src/store/ubicaciones/index';
import api from '../config'
export default {
    data() {
        return {
            act: '',
            mode: "list",
            filter: "",
            dialog: false,
            horarios: [],
            ubis_cat: [],
            columns: [{
                    name: 'id',
                    required: true,
                    label: 'ID',
                    align: 'left',
                    field: row => row.id,
                    format: val => `${val}`,
                    sortable: true
                },
                {
                    name: 'fecha',
                    align: 'center',
                    label: 'Fecha',
                    field: 'fecha',
                    sortable: true
                },
                {
                    name: 'state',
                    label: 'Estado',
                    field: 'state',
                    sortable: true,
                },
                {
                    name: 'actions',
                    label: 'Opciones',
                    field: 'actions'
                }
            ],
            editedItem: {
                id: '',
                fecha: "",
                ubicacion: "",
                hora: "",
                fecha_full: "",
                ubicacion_id: ""
            },
        }
    },

    mounted() {
        this.fetchHorarios()
        this.fetchUbicaciones()
    },
    computed: {
        getHorarios() {
            return this.$store.getters['horarios/getterHorarios']
        },
        getUbicaciones() {
            return this.$store.getters['ubicaciones/getterUbicaciones']
        },
    },
    methods: {
        fetchHorarios() {
            this.$store.dispatch('horarios/fetchHorarios')
            this.horarios = store.state.horarios
        },
        fetchUbicaciones() {
            this.$store.dispatch('ubicaciones/fetchUbicaciones')
            this.codes = storeUbis.state.ubicaciones.forEach(this.set_ubicaciones)
        },
        set_ubicaciones(element) {
            this.ubis_cat.push({
                value: element.id,
                label: String(element.calle + ', ' + element.colonia + ', ' + element.ciudad + ', ' + element.estado),
            })
        },
        editItem(item) {
          let date = new Date(item.fecha).toISOString().slice(0, 10)
          let time = new Date(item.fecha).toLocaleTimeString()
            this.editedItem.id = item.id
            this.editedItem.fecha = date+ ' ' +time
            this.editedItem.ubicacion = item.ubicacion_id
            this.editedItem.ubicacion_id = item.ubicacion_id
            this.dialog = true
        },
        deleteItem(item) {

        }
    }
}
</script>
