<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="q-pa-md">
            <q-table title="Citas agendadas para hoy" :filter="filter" :grid="$q.screen.xs" class="elevation-1" hide-pagination :data="getCitasNow" no-data-label="No encontré nada para ti ahora" no-results-label="El filtro no reveló ningún resultado." :columns="columns" row-key="__index">
                <template v-slot:no-data="{ icon, message, filter }">
                    <div class="full-width row flex-center text-accent q-gutter-sm">
                        <q-icon size="2em" name="sentiment_dissatisfied" />
                        <span>
                            Bueno esto es triste... {{ message }}
                        </span>
                        <q-icon size="2em" :name="filter ? 'filter_b_and_w' : icon" />
                    </div>
                </template>
            </q-table>
        </div>
    </div>
</div>
</template>

<script>
import storeCitas from 'src/store/citas/index';
export default {
    data() {
        return {
            citas: [],
            filter: "",
            columns: [{
                    name: 'folio',
                    align: 'center',
                    label: 'Folio',
                    field: 'folio',
                    sortable: true
                }, {
                    name: 'nombre',
                    align: 'center',
                    label: 'Nombre',
                    field: 'nombre',
                    sortable: true
                }, {
                    name: 'correo',
                    align: 'center',
                    label: 'Correo',
                    field: 'correo',
                    sortable: true
                }, {
                    name: 'tel',
                    align: 'center',
                    label: 'Telefono',
                    field: 'tel',
                    sortable: true
                }, {
                    name: 'fecha',
                    align: 'center',
                    label: 'Fecha',
                    field: 'fecha',
                    sortable: true
                }, {
                    name: 'servicio',
                    align: 'center',
                    label: 'Servicio',
                    field: 'servicio',
                    sortable: true
                }, {
                    name: 'code',
                    align: 'center',
                    label: 'Código de descuento',
                    field: 'code',
                    sortable: true
                }, {
                    name: 'state',
                    align: 'center',
                    label: 'Estado',
                    field: 'state',
                    sortable: true
                },

            ],
        }
    },
    mounted() {
        this.fetchCitasNow()
    },
    computed: {
        getCitasNow() {
            return this.$store.getters['citas/getterCitasNow']
        },
    },
    methods: {
        fetchCitasNow() {
            this.$store.dispatch('citas/fetchCitasNow')
            this.citas = storeCitas.state.citasNow
        },
    }
}
</script>
