<template>
<div class="page-wrapper">
    <div class="container-fluid">
        <q-table title="Ubicaicones" class="elevation-1" :grid="$q.screen.xs" :data="getUbicaciones" :columns="columns" row-key="name" binary-state-sort>
            <!-- <template v-slot:body="props">
                <q-tr :props="props">
                    <q-td key="desc" :props="props">
                        {{ props.row.name }}
                        <q-popup-edit v-model="props.row.name">
                            <q-input v-model="props.row.name" dense autofocus counter />
                        </q-popup-edit>
                    </q-td>
                    <q-td key="calories" :props="props">
                        {{ props.row.calories }}
                        <q-popup-edit v-model="props.row.calories" title="Update calories" buttons>
                            <q-input type="number" v-model="props.row.calories" dense autofocus counter />
                        </q-popup-edit>
                    </q-td>
                    <q-td key="fat" :props="props">
                        <div class="text-pre-wrap">{{ props.row.fat }}</div>
                        <q-popup-edit v-model="props.row.fat">
                            <q-input v-model="props.row.fat" dense autofocus counter/>
                        </q-popup-edit>
                    </q-td>
                    <q-td key="carbs" :props="props">
                        {{ props.row.carbs }}
                        <q-popup-edit v-model="props.row.carbs" title="Update carbs" buttons >
                            <q-input type="number" v-model="props.row.carbs" dense autofocus />
                        </q-popup-edit>
                    </q-td>
                    <q-td key="protein" :props="props">{{ props.row.protein }}</q-td>
                    <q-td key="sodium" :props="props">{{ props.row.sodium }}</q-td>
                    <q-td key="calcium" :props="props">{{ props.row.calcium }}</q-td>
                    <q-td key="iron" :props="props">{{ props.row.iron }}</q-td>
                </q-tr>
            </template> -->
        </q-table>
    </div>
</div>
</template>

<script>
import {
    mapState
} from "vuex";
import {
    mapGetters
} from "vuex";
import store from 'src/store/ubicaciones/index';
import api from '../config'
export default {
    data() {
        return {
            columns: [{
                    name: 'id',
                    required: true,
                    label: 'ID',
                    align: 'left',
                    field: row => row.id,
                    format: val => `${val}`,
                    sortable: true
                },
                {
                    name: 'calories',
                    align: 'center',
                    label: 'Calories',
                    field: 'calories',
                    sortable: true
                },
                {
                    name: 'estado',
                    label: 'Estado',
                    field: 'estado',
                    sortable: true,
                },
                {
                    name: 'ciudad',
                    label: 'Ciudad',
                    field: 'ciudad'
                },
                {
                    name: 'calle',
                    label: 'Calle',
                    field: 'calle'
                },
                {
                    name: 'cp',
                    label: 'C.P',
                    field: 'cp'
                },
                {
                    name: 'numero',
                    label: 'Numero',
                    field: 'numero'
                },
                {
                    name: 'maps',
                    label: 'Ubicación en Map',
                    field: 'maps'
                },
                {
                    name: 'state',
                    label: 'Estatus',
                    field: 'state'
                },
                {
                    name: 'actions',
                    label: 'Opciones',
                    field: 'actions'
                }
            ],
        }
    },

    mounted() {
        this.$store.dispatch('ubicaciones/fetchUbicaciones')
        this.ubicaciones = store.state.ubicaciones
    },
    computed: {
        getUbicaciones() {
            return this.$store.getters['ubicaciones/getterUbicaciones']
        }
    }
}
</script>
