<template>
<q-layout view="hHh Lpr lff">
    <q-header elevated class="bg-cyan">
        <q-toolbar class="glossy">
            <q-btn flat dense round icon="menu" aria-label="Menu" @click="leftDrawerOpen = !leftDrawerOpen" />
            <q-toolbar-title>
                YL Studio
            </q-toolbar-title>
            <q-btn flat round dense icon="logout" color="negative" class="q-mr-xs" @click="exit"/>
        </q-toolbar>
    </q-header>

    <q-drawer :width="210" :breakpoint="510" overlay bordered v-model="leftDrawerOpen" content-class="bg-grey-1">
        <q-img class="absolute-top" :src="rnd+'.jpg'" style="height: 150px">
            <div class="absolute-bottom bg-transparent">
                <div class="text-weight-bolder">{{ Username }}</div>
                <div>{{ UserEmail }}</div>
            </div>
        </q-img>
        <q-scroll-area style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd">
            <q-list padding>
                <q-item clickable v-ripple to="/auth/principal">
                    <q-item-section avatar>
                        <q-icon name="flag" />
                    </q-item-section>

                    <q-item-section>
                        Index
                    </q-item-section>
                </q-item>
                <q-separator />
                <q-item>
                    <q-item-section>Administración</q-item-section>
                </q-item>
                <q-separator />
                <q-item clickable v-ripple to="/auth/citas">
                    <q-item-section avatar>
                        <q-icon name="event" color="primary" />
                    </q-item-section>

                    <q-item-section>
                        Citas
                    </q-item-section>
                </q-item>

                <q-item clickable v-ripple to="/auth/clientes">
                    <q-item-section avatar>
                        <q-icon name="people" color="secondary" />
                    </q-item-section>

                    <q-item-section>
                        Clientes
                    </q-item-section>
                </q-item>

                <q-item clickable v-ripple to="/auth/codigos">
                    <q-item-section avatar>
                        <q-icon name="auto_awesome" color="warning" />
                    </q-item-section>

                    <q-item-section>
                        Códigos
                    </q-item-section>
                </q-item>

                <q-item clickable v-ripple to="/auth/horarios">
                    <q-item-section avatar>
                        <q-icon name="edit_calendar" color="info" />
                    </q-item-section>

                    <q-item-section>
                        Horarios
                    </q-item-section>
                </q-item>

                <q-item clickable v-ripple to="/auth/horariosvencidos">
                    <q-item-section avatar>
                        <q-icon name="event_busy" color="negative" />
                    </q-item-section>

                    <q-item-section>
                        Horarios Vencidos
                    </q-item-section>
                </q-item>

                <q-item clickable v-ripple to="/auth/promociones">
                    <q-item-section avatar>
                        <q-icon name="redeem" color="pink" />
                    </q-item-section>

                    <q-item-section>
                        Promociones
                    </q-item-section>
                </q-item>

                <q-item clickable v-ripple to="/auth/servicios">
                    <q-item-section avatar>
                        <q-icon name="room_service" color="warning" />
                    </q-item-section>

                    <q-item-section>
                        Servicios
                    </q-item-section>
                </q-item>
                <q-item clickable v-ripple to="/auth/ubicaciones">
                    <q-item-section avatar>
                        <q-icon name="place" color="primary" />
                    </q-item-section>

                    <q-item-section>
                        Ubicaciones
                    </q-item-section>
                </q-item>
                <q-item clickable v-ripple to="/auth/usuarios">
                    <q-item-section avatar>
                        <q-icon name="manage_accounts" color="secondary" />
                    </q-item-section>

                    <q-item-section>
                        Usuarios
                    </q-item-section>
                </q-item>
            </q-list>
        </q-scroll-area>
    </q-drawer>
    <q-dialog v-model="closeSession">
        <q-card class="my-card">
            <q-card-section>
                <div class="text-subtitle1">Estas seguro que deseas salir?</div>
            </q-card-section>
            <q-card-actions align="around">
                <q-btn flat v-close-popup>Cancelar</q-btn>
                <q-btn flat v-close-popup @click="logout">Salir</q-btn>
            </q-card-actions>
        </q-card>
    </q-dialog>
    <q-page-container>
        <router-view />
    </q-page-container>
</q-layout>
</template>

<script>
import {
    Loading,
    QSpinnerGears,
    QSpinnerBars
} from "quasar";
export default {
    name: 'MainLayout',
    data() {
        return {
            rnd: Math.floor(Math.random()*6),
            url: 'https://placeimg.com/500/300/nature',
            leftDrawerOpen: false,
            closeSession: false,
            Username: null,
            UserEmail: null
        }
    },
    mounted() {
        this.refresh()
        this.getUserData()
        this.validateSession()
    },
    created() {
        this.refresh()
        this.getUserData()
        this.validateSession()
    },
    watch: {
        closeSession(val) {
            val
        }
    },
    computed: {
        getUser() {
            return this.$store.getters['auth/getterUserName']
        },
    },
    methods: {
        refresh() {
            this.url = 'https://placeimg.com/500/300/nature?t=' + Math.random()
        },
        getUserData() {
            this.Username = sessionStorage.getItem("user_name")
            this.UserEmail = sessionStorage.getItem("user_email")
        },
        validateSession() {
            if (!sessionStorage.getItem("user_name") || this.getUser == null) {
              this.$store.commit('auth/logout')
                this.$router.push({
                    path: "/"
                });
            }
        },
        exit() {
            this.closeSession = true
        },
        logout() {
            sessionStorage.clear()
            Loading.show({
                spinner: QSpinnerBars,
                spinnerColor: "red",
                message: "Cerrando sesión"
            });

           let timer = setTimeout(() => {
                Loading.hide()
                this.validateSession()
                timer = void 0

            }, 2000)

        }

    }
}
</script>
